= render partial: 'info', locals: {type: @type} unless @type.empty?
= simple_form_for [:admin, @type] do |f|
  = f.button :submit, "Submit"
  .new_category_name.row
    = f.input :new_category_name, {placeholder: "Different...?"}
  .row
    .span1
    .span6
      = f.input :product do 
        - @products.each do |p|
          .label_form= f.label "product_#{p.id}", p.title
          .check_form= f.check_box "product[#{p.id}]", {id: "type_product_#{p.id}", checked: check_it(@type.product, p)}
    .span5
      = f.input :category do 
        - @categories.each do |c|
          .label_form= f.label "category_#{c.id}", c.name
          .check_form= f.check_box "category[#{c.id}]", {id: "type_category_#{c.id}",checked: check_it(@type.category, c)}