%h2 Order page
.order
  .purchaser
    .name= "Name: " + @order.user.full_name
    .email= "Email: " + @order.user.email
  .status= "Order is #{@order.status} since #{@order.status_change_date.strftime("%d %b %Y")}"
  .submit_date= "Was purchased #{@order.date_of_purchase.strftime("%d %b %Y")}"
  .total_price= "Total price: $#{@order.total_price}"
  .products
    =render partial: 'orders/inline_product', collection: @order.products, as: :product