=simple_form_for [:admin, product], html: {multipart: true} do |f|
  = f.button :submit, class: 'btn-primary btn'
  = f.input :title
  = f.input :description, input_html: {rows: 10}
  = f.input :base_price
  = f.input :quantity
  = simple_fields_for :assets do |a|
    = a.input :photos , as: :file, input_html: {multiple: true}, require: false
  = f.input :on_sale