.info
  .title= product.title
  .description= product.description
  .discount
    .span6 Discount: 
    .span6.value="#{ product.discount}%"
  .on_sale
    .span6 On sale: 
    .span6.value= "#{product.on_sale}"
  .categories
    .span6 Categories: 
    .span6.value= "#{product.list_categories}"
