Add product to category
.new_category
  %h3= @product.title
  = form_tag category_admin_product_path(@product), html: {multipart: true}  do 
    .categories
      -@categories.each do |category|
        .category
          .check_form=check_box_tag "categories[#{category.id}]", category.name
          .label_form=label_tag "categories[#{category.id}]", category.name
    .new_category_name
      = label_tag :new_category, 'New category name'
      = text_field_tag :new_category, '', {placeholder: "Different...?"}
    =submit_tag 'Submit'