.product.inline{class: product.title_param}
  -if product_counter == 0
    .header.row
      .span7.title
        Title
      .span1.price
        Price
      .span2.quantity
        Quantity
      .span2
        Remove
  .product.row
    .span7.title= link_to product.title, product_path(product), {data: {photo: product.photo.url, title: product.title }} 
    .span1.price= "$#{product.price}"
    .span2.quantity= product.quantity_for(current_user)
    .span2.remove= link_to "X", remove_from_cart_user_product_path(current_user, product, back: {controller: 'orders', action: 'new'}), remote: true