.span4.product.short.well{class: product.title_param }
  .row.span12
    .product_thumbnail.thumbnail{data: {photo: product.photo.url, title: product.title}}
      = link_to image_tag(product.photo.url), product_path(product)
  .row.span12
    %h3.title=link_to product.title_shorter, product_path(product), {data: {photo: product.photo.url, title: product.title}}
  .row.span12
    .price= product_price product
  .row.span12
    .price.discount= saving_text product
  .row.span12
    =link_to adding_text(product), add_to_cart_path({user_id: current_user.id, product: product}), remote: true, class: "span12 btn btn-primary cart_btn #{adding_class product}", data: {:'loading-text' => 'Processing...'}
  .row.span12
    .span3= quantity product
    .span4
    .span5.remove= remove product