.product{class: product.title_param, id: product_counter}
	=link_to product.title, product_path(product)
	=link_to "Show more", product
	-if product.users.include?(current_user)
		.quantity= "#{product.quantity_for(current_user)} in cart"
		=link_to "Remove from cart", remove_from_cart_user_product_path(current_user, product)
		=link_to "Add more", add_to_cart_user_product_path(current_user, product)
	-else
		=link_to "Add to cart", add_to_cart_user_product_path(current_user, product)
	.price
		.base="$#{product.base_price}"
		.current="$#{product.price}"
		.discount="You save #{(100*(product.base_price - product.price)/product.base_price).round.to_i}%!"