.product.short{class: product.title_param, id: product_counter }
	.row
		.span3
			.product_thumbnail{id: product.title}= image_tag product.photo.url
		.span4
			.row
				.span4
					%h3=link_to product.title_shorter, product_path(product)
			.row
				-if product.users.include?(current_user)
					.btn=link_to "Add more", add_to_cart_user_product_path(current_user, product)
					.quantity= "#{product.quantity_for(current_user)} in cart" if product.quantity_for(current_user) > 0
					=link_to "Remove from cart", remove_from_cart_user_product_path(current_user, product)
				-else
					.offset3.span1
						.btn.btn-primary=link_to "Add to cart", add_to_cart_user_product_path(current_user, product)
			.row
				.offset2.span1
					.price
						.base="$#{product.base_price}"
			.row
				.span1
					%h3.current="$#{product.price}"
				.span3
					%h3.price.discount="You save #{(100*(product.base_price - product.price)/product.base_price).round.to_i}%!" if product.discount < 100
			.row