.span7.product{class: product.title_param, id: product_counter}
	.row
		.span3
			.product_thumbnail{id: product.title}=image_tag 'default.png'
		.span4
			.row
				%h3.span6=link_to product.title, product_path(product)
			.row
				-if product.users.include?(current_user)
					.span2=link_to "Add more", add_to_cart_user_product_path(current_user, product)
					=link_to "Remove from cart", remove_from_cart_user_product_path(current_user, product)
				-else
					.span2=link_to "Add to cart", add_to_cart_user_product_path(current_user, product)
			.row.price
				.span2.base="$#{product.base_price}"
				%h3.span2.current="$#{product.price}"
				%h3.span4.discount="You save #{(100*(product.base_price - product.price)/product.base_price).round.to_i}%!"
			.row
				.span2=link_to "Show more", product
				.span2.quantity= "#{product.quantity_for(current_user)} in cart" if product.quantity_for(current_user) > 0
			.row