.title= @product.title
.add_to_category= link_to "Add to category", new_add_product_to_category_path(@product)
.add_to_cart= link_to("Add to cart", add_to_cart_path(@product)) if @product.on_sale?
.description= @product.description
.overall_note= note_in_stars(@product.rating)
=render partial: 'reviews/new', locals: {product: @product, review: Review.new}
.reviews=render @product.reviews