.product.product_full.span12
  .row.top_title
    .span9.title
      %h1= @product.title
    %h2
      .price.span3= humanized_money_with_symbol @product.price
  .row.note_bar
    .overall_note= note_in_stars @product.rating
  .row.buttons
    %h2.btn.btn-primary.add_to_cart
      = link_to("Add to cart", add_to_cart_path({user_id: current_user.id, product: @product.id})) if @product.on_sale?
    .span2=link_to 'Edit product', edit_admin_product_path(@product) if current_user.admin?
    .span2.order_product= link_to_unless current_user.guest?, 'Order', '#'
  .row.overview
    .span6
      = render partial: 'menu/carousel', locals: {item_thing: @product}
    .span6
      .row
        %p.description
          = @product.description
      .row.categories
        Categories:
        = @product.list_categories
        .add_to_category= link_to_if current_user.admin?, "Add to category", edit_admin_type_path(@product)
  .row.review_bar.span12
    .span12=render partial: 'reviews/new', locals: {product: @product.product, review: Review.new}
  .row.reviews.span12
    =render @product.reviews, product: @product