.product.inline{class: product.title_param}
  -if product_counter == 0
    .row
      .span4.title
        Title
      .span1.base_price
        Base Price
      .span1.price
        Price
      .span1.discount
        Discount
      .span2.quantity
        Quantity
      .span2
        Remove
  .product.row
    .span4.title= link_to product.title, product_path(product), {data: {photo: product.photo.url, title: product.title }} 
    .span1.base_price= "$#{product.base_price}"
    .span1.price= "$#{product.price}"
    .span1.discount= "#{product.discount}%"
    .span2.quantity= product.quantity_for(current_user)
    .span2.remove= link_to "X", remove_from_cart_user_product_path(current_user, product), remote: true