.sale
  .row
    %h4.span7= sale.name
    %h4.span2= "#{sale.discount}%"
    .span1
    %h4.span2= link_to "X", sales_path({sale: sale.id}), method: :delete, remote: true
  .row  
    = render partial: 'inline_product', collection: ProductPresenter.new_from_array(sale.products), as: :product