%h3 Sales
.new_sales
  =form_tag sales_path do
    .row
      .span1
      .span11
        = submit_tag "Submit", class: 'btn btn-primary'
        .discount
          = label_tag :discount, "Discount"
          = number_field_tag :discount, '', {value: 100, max: 100, min: 0, class: 'input-mini'}
          %span.help-inline Percent of base price
    .row
      .span1
      .span4.categories
        %h3 Category
        - Category.all.each do |category|
          .category
            .check_form= check_box_tag "categories[#{category.id}]", category.name
            .label_form= label_tag "categories[#{category.id}]", category.name
      .span1
      .span5.products
        %h3 Product
        - Product.all.each do |product|
          .product
            .check_form= check_box_tag "products[#{product.id}]", product.title
            .label_form= label_tag "products[#{product.id}]", product.title
      .span1