<!DOCTYPE html>
<html>
<head>
	<title>NewStore</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>

<script type="text/javascript" src="https://bridge.paymill.com/"></script>

<body>
	<%- if flash[:notice] %>
	<div class="notice alert alert-block alert-success fade in">
		<%= flash[:notice] %>
		<a class="close" data-dismiss="alert" href="#">&times;</a>
	</div>
	<%- end %>

	<% if flash[:errors] %>
	<div class="errors alert alert-block alert-error fade in">
		<%= flash[:errors] %>
		<a class="close" data-dismiss="alert" href="#">&times;</a>
	</div>
	<% end %>

	<div class="container">
		<%= render 'menu/top_bar' %>
		<%= content_for(:category_bar) %>
		<div class="row-fluid">
			<div class="span9"> <%= yield %> </div>
			<div class="span3 big_picture_frame "> <%= render 'menu/big_product_image' %> </div>
		</div>
	</div>
		<%= render 'menu/footer' %>
</body>
</html>

