<!DOCTYPE html>
<html>
<head>
	<title>NewStore</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render 'menu/top_bar' %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
	<div class="errors">
		<%= flash[:errors] %>
	</div>
	<div class="container">
		<%= yield %>
	</div>
	

</body>
</html>

